/**
 * Pure CSS3 Animated Monster by Taufik Nurrohman
 * http://cssdeck.com/user/tovic
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800');
* {
  box-sizing: border-box;
  font-family: "Open Sans";
}
html {
  height: 100vh;
}
body {
  background-color:#bbb;
  text-align:center;
  /*background-image: url('https://s-media-cache-ak0.pinimg.com/originals/aa/a5/c6/aaa5c645775fecb8fde91e3f898ce640.jpg');*/
}
#buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 30px 20px;
  background-color:#aaa;
}
#buttons > ul {
  width: 100%;
  padding: 20px;
  overflow: hidden;
  position: relative;
  list-style-type: none;
  background-color:#999;
}
#buttons > ul > li {
  width: 100%;
  font-weight: 700;
  text-align: center;
  line-height: 100px;
  overflow: hidden;
  position: relative;
  background-color:#888;
  height: 100px;
  margin: 10px 0;
}
#hacks {
  display: none;
}
.hacking #hacks {
  display: block;
}
.hacking #hacks a {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}